/* GLOBAL STYLES */

html{
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after{
  box-sizing: inherit;
}

body{
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Bebas Neue", "Roboto Condenced", "Arial", sans-serif;
  background-color: #333;
  color: #222;
}

img{
  max-width: 100%;
  height: auto;
}


/* CONTAINER */
.container{
  width: 100%;
  max-width: 1200px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}


/* MAIN CONTENT */
.main-content{
  display: flex;
}

.global-wrapper{
  display: flex;
  flex-grow: 1;
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

/* SAYOHAT BLOGIMIZNING CHAP TOMONI */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
  background-image: url(../img/left-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  width: 100%;
  max-width: 600px;
}

/* RETINA IMG JOYLASH */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
  .hero{
    background-image: url(../img/left-bg@2x.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
  }

}

.hero-content {
  max-width: 285px;

}
.hero-heading {
  margin-top: 0;
  margin-bottom: 24px;
  font-family: "Bebas Neue", "Roboto Condenced", "Helvetica", sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  line-height: normal;
  letter-spacing: 2px;
  color: #fff;
}

.hero-link {
  display: inline-block;
  font-family: "Bebas Neue", "Roboto Condenced", "Helvetica", sans-serif;;
  background-color: #1E90ff;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2px;
}

.hero-link:hover{
  background-color: rgba(30, 144, 255, 0.8);
}

.hero-link:active{
  background-color: rgba(30, 144, 255, 0.6);
}


.hero-link-inner{
  display: flex;
  padding: 12px 24px;

}

.hero-link-inner::before{
  width: 20px;
  height: 20px;
  margin-right: 12px;
  background-image: url(../img/star-icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  content: '';
}

/* LATES VIDEOS */

.lates-videos {
  width: 100%;
  max-width: 600px;
  padding: 54px;
  background-color: #fff;
}

.lates-videos-heading {
  margin-top: 0;
  font-size: 24px;
  line-height: normal;
  font-family: "Bebas Neue", sans-serif;
  color: #222;
  font-weight: 400;
  letter-spacing: 2px;
}

.lates-videos-devider {
  margin-top: 24px;
  margin-bottom: 24px;
  border: 0;
  height: 1px;
  background-color: #999;
}

.lates-videos-list {
  padding: 0;
  margin: 0;
  margin-bottom: 24px;
  list-style: none;
}

.lates-videos-item:not(:last-child) {
  margin-bottom: 10px;
}

/* ITEM LATES VIDEO */
.item-lates-video {
  display: flex;
  align-items: center;

}

.item-lates-videos-img {
  width: 160px;
  height: 90px;
  object-fit: cover;
  border-radius: 4px;
}

.item-lates-videos-info {
  padding: 16px;
}

.item-lates-videos-heading {
  margin-top: 0;
  margin-bottom: 4px;
  font-family: "Bebas Neue",  sans-serif;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 2px;
  color: #222;

}

.item-lates-videos-link {
  text-decoration: none;
  color: #222;
}

.item-lates-videos-link:hover{
  color: rgba(30, 144, 255, 1);
}

.item-lates-videos-link:active{
  color: rgba(30, 144, 255, 0.6);
}

.item-lates-videos-meta {
  display: flex;
  align-items: center;
}

.item-lates-video-published-at{
  display: flex;
  align-items: center;
  margin-right: 24px;
  font-size: 14px;
  font-family: "Roboto Condensed", sans-serif;
  color: #666;
  line-height: 14px;
}

.item-lates-video-published-at::before{
  width: 16px;
  height: 16px;
  margin-right: 4px;
  background-image: url(../img/icon-clock.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  content: '';
}

.item-lates-video-views {
  display: flex;
  align-items: center;
  margin-right: 24px;
  font-size: 14px;
  font-family: "Roboto Condensed", sans-serif;
  color: #666;
  line-height: 14px;
}

.item-lates-video-views::before{
  width: 16px;
  height: 16px;
  margin-right: 4px;
  background-image: url(../img/eye-icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  content: '';
}

/* BUTTON */
.load-more-button{
  display: block;
  width: 100%;
  padding: 12px;
  border: 0;
  border-radius: 4px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  background-color: #1e90ff;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}
